<div class="container">
    <form [formGroup]="productFormGroup">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" formControlName="price">
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control" formControlName="quantity">
        </div>
        <div class="form-group  mt-3">
            <label>Selected</label>
                <input type="checkbox" formControlName="selected">
        </div>
        <div class="form-group  mt-3">
            <label>Available </label>
            <input type="checkbox" formControlName="available">
        </div>
        <button class="btn btn-sm btn-success m-3" (click)="onSaveProduct()">Save</button>
    </form>
</div>


{{productFormGroup.value|json}}

